extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="" class="img-fluid")
            .col-md-7
                h1= pagina
                blockquote  ipsum dolor sit amet, consectetur adipiscing elit. Morbi suscipit, dui eu sagittis sollicitudin, ligula turpis scelerisque mi, id rhoncus lectus elit et tellus. Proin non dictum tortor. Vestibulum congue dolor ut ullamcorper sagittis. Aliquam vehicula consectetur odio, vitae ultrices leo auctor quis. Vivamus ac massa commodo, varius lacus sed, faucibus lorem. Donec consectetur metus id pretium pretium. Quisque scelerisque tincidunt enim, eu suscipit lorem bibendum ac. Pellentesque ac dui accumsan, gravida nisi ut, pretium felis. Nunc fermentum tristique quam at rhoncus. 

                p consectetur justo non accumsan fringilla. Nam faucibus pulvinar nibh, sed maximus mauris egestas vitae. Praesent volutpat, sapien et rhoncus vestibulum, nisl enim varius nisl, eget rhoncus felis ipsum non lacus. Integer vel massa sed felis auctor bibendum. Nam vehicula, libero vitae pharetra aliquam, odio felis rutrum dolor, a lacinia ex libero egestas nibh. Mauris aliquam lobortis mollis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;

                p vestibulum laoreet nibh sit amet commodo. Proin maximus odio orci, at dignissim leo elementum nec. Curabitur ac est in libero hendrerit lobortis sit amet quis libero. Proin dignissim augue ac metus accumsan tincidunt eget at diam. Morbi elementum accumsan diam, id aliquam risus rutrum ut. Vestibulum rutrum placerat dolor, ut laoreet justo semper nec. In volutpat sit amet sem sagittis elementum. Morbi vel interdum dolor, sed vehicula nunc. Vestibulum aliquet ut ipsum vehicula laoreet. Phasellus lacus odio, tincidunt a egestas varius, ultricies in lectus.
                
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p vestibulum laoreet nibh sit amet commodo. Proin maximus odio orci, at dignissim leo elementum nec. Curabitur ac est in libero hendrerit lobortis sit amet quis libero.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p vestibulum laoreet nibh sit amet commodo. Proin maximus odio orci, at dignissim leo elementum nec. Curabitur ac est in libero hendrerit lobortis sit amet quis libero.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="" class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p vestibulum laoreet nibh sit amet commodo. Proin maximus odio orci, at dignissim leo elementum nec. Curabitur ac est in libero hendrerit lobortis sit amet quis libero.